---
description: {{if eq .ConversationLanguage "ko"}}DDD/TDD 방법론으로 SPEC 요구사항 구현{{else if eq .ConversationLanguage "ja"}}DDD/TDD手法でSPEC要件を実装{{else if eq .ConversationLanguage "zh"}}使用DDD/TDD方法论实现SPEC需求{{else}}Implement SPEC requirements using DDD/TDD methodology{{end}}
argument-hint: "SPEC-XXX [--team] [--resume SPEC-XXX]"
---

Use Skill("moai") with arguments: run $ARGUMENTS
